.form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 3rem;

  &__input--area {
    height: 20rem;
    resize: none;
  }

  &__input--btn {
    background-color: dodgerblue;
    border: none;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
  }
}

iframe {
  width: 100%;
}
